:root{
  --mainPink:#c62a88;
  --lightPink:#ffa5a5;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainPurple: #a37eba;
}
body{
  font-family: "Oswald" sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Permanent Marker' , cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainPink);
}

.text-bright{
  color: var(--lightPink);
}